@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --light-purple: #B9B8FF;
    --light-purple-hover: #807fb6;
    --dark-purple: #443F82;
    --dark-purple-hover: #2e2b5a;
    --booked: rgb(126, 230, 126);
    --booked-hover: rgb(119, 170, 119);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
