@import url(./index.css);

main {
    width: 80%;
    max-width: 500px;
    padding: 2rem;
    margin: 3rem auto 0 auto;
    background: var(--light-purple);
    border-radius: 15px;
}
h1 {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
}
p {
    font-size: .9rem;
}

@media screen and (min-width: 760px) {
    main {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        margin-top: unset;
    }
    p {
        margin: 0 auto;
    }
}